body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wissemox {
  display: flex;
  margin-top: 40px;
}
.wissemox h3 {
  margin-right: 50px;
}
.wissemoxj {
  background-color: rebeccapurple;
  height: 150px;
  color: white;
  padding-left: 700px;
  padding-top: 60px;
}

.wissemoxj h1 {
  margin-left: 80px;
}
.wissemox01 {
  margin-left: 20px;
}
.wissemox02 {
  margin-left: 180px;
  margin-right: 250px;
  width: 50px;
}
.wissemox03 {
  width: 150px;
}
.wisspp {
  margin-left: 350px;
}
.wissemox03 {
  width: 120px;
}
